body {
     font-family: "Zalando Sans", sans-serif;
    margin: 0;
}

/*Header stuff here*/
header {
    background-color: #eaeaea;
    padding: 1rem 10px;
}
header span {
    color: #5c99fa;
    font-size: 1.6rem;
    font-weight: 700;
}
header em {
    font-weight: 300;
    font-size: 1rem;
    color: #26613C;
}

/*Navigation portion here*/
nav {
    background-color: #C4B398;
}
nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type:none;
    display: flex;
}
nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #024873;
    font-weight: 700;
}

nav li.active a {
    background-color: #024873;
    color: #C4B398;
}

nav li a:hover {
    color: white;
}

/*main stuff here*/
main {
    padding: 1rem 10px;
}

main h1 {
    color: #5c99fa;
}
.what h2  {
    color: #26613C;
    margin-bottom: 0.2rem;
}
.author h2 {
    color: #5c99fa;
}
main h2 {
    color: #26613C;
}
main h3 {
    color: #26613C;
}
main p {
    margin: 0;
    color: #333; 
}
main ol {
    padding: 0.5rem 30px; 
    background-color: #efefef;
}
main dl dt {
    color: #26613C;
    font-weight: 700;
    margin-top: 1rem;
}
main dl dd {
    color: #000;
    font-size: .9rem;
    margin-left: 20px;
}
main ul {
    list-style-type: circle;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
main strong {
    font-weight: 700;
    color: black;
}

main em {
    font-weight: 300;
}
main address {
    font-style: normal;
    background-color: #C4B398;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #000;
    width: 200px; 
}
main a {
    color: #024873;
}
main a:hover {
    color: rgb(180, 4, 18);
}


/*footer stuff here*/
footer {
    background-color: #eaeaea;
    text-align: center;
    padding: 1rem;
}
footer p {
    margin: 0;
     font-size: .8rem;
    color: #333;
    letter-spacing: 3px;
}